<div class="container">
	<div class="row">

		<hr>
		<a href="/auti">natrag</a>
		<hr> {{#if ID}}
		<div class="col-sm-4">
			<h1>{{ime}}</h1>
			<a href='/auto/{{ID}}'>
					<img src="{{slika}}" class="img-responsive">
				</a>
			<h4>{{maksBrzina}}</h4>
			<h4>{{godina}}</h4>
			<p>Ja sam Marko<p>
		</div>

		<div id='container'>
  <input type='text' />
  <a href="">Show modal</a>
</div>

		{{else}} Nemam auto !! {{/if}}

	</div>
</div>